# Make vim the default editor.
set -gx EDITOR 'zed --wait'

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
set -gx PYTHONIOENCODING 'UTF-8'

# Prefer US English and use UTF-8.
set -gx LANG 'en_US.UTF-8'
set -gx LC_ALL 'en_US.UTF-8'

# Highlight section titles in manual pages.
#set -gx LESS_TERMCAP_md "$yellow"

# Don't clear the screen after quitting a manual page.
set -gx MANPAGER 'less -X'

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
set -gx GPG_TTY (tty)

# Move python cache out of project folder
set -gx PYTHONPYCACHEPREFIX "$HOME/.cache/Python"

# Set config dir
set -gx XDG_CONFIG_HOME "$HOME/.config"

# Alchemist
set -gx ALC_HOME "/Users/alex/Developer/t1a/alchemist/"

# OpenAudible
set -gx OPENAUDIBLE_HOME "/Volumes/Books/OpenAudible"

# Brew
set -gx HOMEBREW_NO_AUTO_UPDATE 1

# Claude Code
set -gx ENABLE_BACKGROUND_TASKS 1
set -gx CLAUDE_BASH_MAINTAIN_PROJECT_WORKING_DIR 1

set -gx PEEKABOO_AI_PROVIDERS "openai/gpt-4o"

# mpt
set -gx GOOGLE_MODEL gemini-3-pro
set -gx OPENAI_MODEL gpt-5.1

set -gx SSH_AUTH_SOCK "$HOME/.1password/agent.sock"
set -gx MISE_ENV_FILE .env
