[user]
	name = Alex Mabe
	email = alex@melonamin.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAGDboB0VJfTPEsI8+mdiltPYcHXmAx4AMjcOzsySP3/
[github]
	user = melonamin
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = false
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
	format = ssh
[mergetool]
	keepBackup = false
	prompt = false
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[diff]
	tool = Kaleidoscope
[rerere]
	enabled = 1
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
        df = diff
        lg = log -p
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        ls = ls-files
        graph = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --all
        today = log --since='6am' --oneline --author='Alex'
        # generate comment
        llm = "!f() { \
            if git diff --quiet $1; then \
                echo \"No changes to commit. Aborting.\"; \
            else \
                commit_msg=$(git diff $1 | llm -s \"$(cat ~/.config/prompts/commit-system-prompt.txt)\"); \
                echo \"Commit message:\n$commit_msg\"; \
                read -p \"Do you want to commit with this message? [y/N] \" confirm; \
                if [[ $confirm =~ ^[Yy]$ ]]; then \
                    git commit -m \"$commit_msg\"; \
                else \
                    echo \"Commit aborted.\"; \
                fi; \
            fi; \
        }; f"

        llm-staged = "!f() { \
            git add -p; \
            if ! git diff --cached --quiet; then \
                commit_msg=$(git diff --cached | llm -s \"$(cat ~/.config/prompts/commit-system-prompt.txt)\"); \
                echo \"Commit message:\n$commit_msg\"; \
                read -p \"Do you want to commit with this message? [y/N] \" confirm; \
                if [[ $confirm =~ ^[Yy]$ ]]; then \
                    git commit -m \"$commit_msg\"; \
                else \
                    git reset HEAD .; \
                    echo \"Commit aborted.\"; \
                fi; \
            else \
                echo \"No changes staged for commit. Aborting.\"; \
            fi; \
        }; f"
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[pull]
	rebase = true
[init]
	defaultBranch = master
[maintenance]
	auto = true
	strategy = incremental
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[url "git@github.com:"]
	insteadOf = https://github.com/
